@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
    box-sizing: border-box;
  }
}

@layer components {
  .form-card {
    @apply bg-dark p-8 rounded-lg min-w-[260px] shadow-sm shadow-light  max-w-[840px] w-[90vw] mx-auto;
  }
  .form-title {
    @apply mb-6 font-bold text-lg text-center;
  }
  .form-input {
    @apply shadow-md shadow-primary border-0 outline-0 block w-full ring-1 rounded-md focus:ring-2 bg-dark ring-primary placeholder:text-sm py-1.5 my-4 px-3 disabled:cursor-not-allowed outline-none;
  }
  .form-label {
    @apply absolute start-2 text-sm text-primary duration-200 transform -translate-y-2 scale-[0.77] -top-[3px] z-10 origin-[0] bg-dark rounded-md px-2 peer-placeholder-shown:scale-100 peer-placeholder-shown:text-primary-300 peer-placeholder-shown:-translate-y-2 peer-placeholder-shown:top-4 peer-focus:-top-[3px] peer-focus:px-2 peer-focus:text-primary peer-focus:scale-[0.77];
  }
  .form-btn {
    @apply sm:ml-auto shadow-inner shadow-primary-700 active:shadow-primary-300 hover:opacity-90 block w-full sm:w-48  bg-secondary  text-light rounded-md py-2 active:saturate-150 disabled:cursor-not-allowed animate-shimmer bg-[linear-gradient(110deg,#308aaa,40%,#05ff9f,49%,#05ff9f,51%,#05ff9f,51%,#308aaa)] bg-[length:200%_100%] px-6 font-bold text-lg focus:outline-none focus:ring-1 focus:ring-secondary focus:ring-offset-0;
  }
}

@layer utilities {
  .stop:hover :nth-child(1) {
    animation-play-state: paused;
  }
  .stop:hover :nth-child(2) {
    animation-play-state: paused;
  }
}
